db.*
*.pyc
uwsgi.ini
*.pid
*.log
*.db
*.rdb
celerybeat-schedule.*

# cache
*.pyc
*.pyo
*.log
_pycache_
.DS_Store

# editors
.idea/*
.vscode/*
*.swc
*.swp

# database
*.sqlite3

# migration
*/_pycache_/*
*/*/_pycache_/*
*/migrations/*
**/*/migrations/*

# keep it avoid remove the migrations folder
!*/migrations/__init__.py
!**/*/migrations/__init__.py
