# base
Django == 3.2.18
djangorestframework == 3.12.4

# client
redis == 4.5.4
mysqlclient == 2.0.3
django-redis == 5.0.0

# celery
celery == 5.2.2
django_celery_beat == 2.2.0
celery-once == 3.0.1

# plugin
django-cors-headers==3.7.0

# blockchain
web3 == 5.20.0
eth-event == 1.2.3

# lib
intervaltree==3.1.0
cachetools==5.3.1
django-simple-captcha==0.5.14
pygments
