{% extends "admin/change_list.html" %}
{% load prettify_extras %}
{% block content %}
<div id="content-main">
    <form action="/admin/extensions/system-invoke/add/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% if post_data %}
    <div style="margin: 10px auto">
        <b>InvokeData:</b> <pre>{{ post_data }}</pre>
    </div>
    {% endif %}
    {% if result %}
    <div style="margin: 10px auto">
        <b>InvokeResult:</b> {{ result | json_prettify_filter}}
    </div>
    {% endif %}
</div>
{% endblock %}
